<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('components/head') %>
</head>
<body>
  <%- include('components/nav') %> 

  <section class="banner banner--admin">
    <h2 class="banner__title">文章管理</h2>
  </section>


  <main class="main">
    <div class="container">

      <div class="d-flex flex-wrap justify-content-center align-items-center mb-5">
        <a class="button-add-post mb-3 mb-md-0" href="/admin/add_post">新增文章</a>
      </div>

      <div class="card mb-5">
        <div class="card-header py-4 fs-4">
          文章列表
        </div>
        <ul class="list-group list-group-flush">
          <% for (const post of posts) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="max-text me-1">
                <%= post.title %>
              </div>
              <div class="d-flex flex-shrink-0 align-items-center">
                <div class="me-2 date d-none d-md-block"><%= new Date(post.createdAt).toLocaleDateString() %></div>
                <a href="/admin/update_post?id=<%= post.id %>" class="btn btn-warning me-2">編輯</a>
                <form method="POST" action="/admin/delete_post">
                  <input type="hidden" name="id" value="<%= post.id %>">
                  <input type="submit" class="btn btn btn-danger" value="刪除">
                </form>
                </div>
            </li>
          <% } %>
        </ul>
      </div>
      <nav aria-label="Page navigation example">
        <div class="d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
              <a class="page-link" href="/admin/posts?page=<%= currentPage - 1 %>">Previous</a>
            </li>

            <% for (let i=1; i<=totalPage; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : ''%>">
                <a class="page-link" href="/admin/posts?page=<%= i %>"><%= i %></a>
              </li>
            <% } %>

            <li class="page-item <%= currentPage === totalPage ? 'disabled' : '' %>">
              <a class="page-link" href="/admin/posts?page=<%= currentPage + 1 %>">Next</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </main>
  
  <footer class="footer bg-dark text-center p-3 text-light">
    Copyright © 2022 Peanu's Blog All Rights Reserved.
  </footer>

</body>
</html>